{% extends "default/base.html" %}
{% block navbar_brand %}
    <a class="navbar-brand" href="#">质量检测</a>
{% endblock %}

{% block content_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">最新质量报告获取</h4>
                        <p class="card-category">请填写规则名称</p>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for("quality_view.quality_report") }}" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="quality-rule-name">规则名</label>
                                        <input type="text" class="form-control" id="quality-rule-name" name="quality-rule-name">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">查看报告</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">新建质量检测规则</h4>
                        <p class="card-category">请填写检测类或函数</p>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for("quality_view.query") }}" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dataTypeSelect">数据源</label>
                                        <select class="form-control" id="dataTypeSelect" name="data_type">
                                            {% for source in data_source_list %}
                                                <option value="{{ source }}">{{ source }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="rule-name">规则名</label>
                                        <input type="text" class="form-control" id="rule-name" name="rule_name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="rule-content">规则类(函数)</label>
                                        <textarea class="form-control" id="rule-content"
                                                  rows="10" name="rule_content" placeholder="函数名以valid开头，后跟字段名。如valid_title,即验证标题......&#10;def valid_title(title, **kwargs):
    return Title.apply(title)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();
        });
    </script>
{% endblock %}
