{% extends "default/base.html" %}
{% block navbar_brand %}
    <a class="navbar-brand" href="#">质量检测</a>
{% endblock %}

{% block content_body %}
    <div class="container-fluid">
        {% for report in reports %}
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                            <p class="card-category">总量</p>
                            <h3 class="card-title">{{ report['report']['total'] }}
                                <small>条</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">done</i>
                            </div>
                            <p class="card-category">成功数</p>
                            <h3 class="card-title">{{ report['report']['success'] }}
                                <small>条</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">bug_report</i>
                            </div>
                            <p class="card-category">失败数</p>
                            <h3 class="card-title">{{ report['report']['failed'] }}
                                <small>条</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="{{ url_for('quality_view.report_export',rule_name=report['rule_name'] ) }}" class="btn btn-primary">导出失败结果<div class="ripple-container"></div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b>{{ report['rule_name'] }}</b> ---检测结果</h4>
                            <p class="card-category">检测时间耗时：{{ report['cost_time'] | float }}</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <tr>
                                    <th>字段名</th>
                                    <th>成功数</th>
                                    <th>失败数</th>
                                    <th>字段缺失数</th>
                                    <th>失败样例</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for field, field_value in report['report']['field_stats'].items() %}
                                    <tr>
                                        <td>{{ field }}</td>
                                        <td>{{ field_value['success'] }}</td>
                                        <td>{{ field_value['failed'] }}</td>
                                        <td>{{ field_value['not_exists'] }}</td>
                                        <td width="30%">{{ field_value['sample'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();
        });
    </script>
{% endblock %}
