{% extends "default/base.html" %}
{% block navbar_brand %}
    <a class="navbar-brand" href="#">Dashboard</a>
{% endblock %}

{% block content_body %}
    <div class="container-fluid">
        <div class="row">
            ....
{#            <div class="col-md-4">#}
{#                <div class="card mb-3">#}
{#                    <img class="card-img-top" src="" alt="Card image cap">#}
{#                    <div class="card-body">#}
{#                        <h4 class="card-title">Card title</h4>#}
{#                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to#}
{#                            additional content. This content is a little bit longer.</p>#}
{#                        <p class="card-text">#}
{#                            <small class="text-muted">Last updated 3 mins ago</small>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();
        });
    </script>
{% endblock %}