{% block sidebar %}
    <div class="sidebar" data-color="purple" data-background-color="white"
         data-image="{{ url_for("static", filename='assets/img/sidebar-1.jpg') }}">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                360-Manager Dashboard
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                {% if session['load'] == "index" %}
                    <li class="nav-item">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
                </li>
                {% if session['load'] == "quality" %}
                    <li class="nav-item dropdown active">
                        {% else %}
                    <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link" href="#" id="qualityMenu" data-toggle="dropdown">
                    <i class="material-icons">edit</i>
                    <p>质量检测</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="qualityMenu">
                    <a class="dropdown-item" href="/quality/index">质量检测</a>
                    <a class="dropdown-item" href="/quality/health_check">healthcheck报告</a>
                </div>
                </li>
                {% if session['load'] in ["scheduler", "scheduler_f", "scheduler_f_process"] %}
                    <li class="nav-item dropdown active">
                        {% else %}
                    <li class="nav-item dropdown">
                {% endif %}
                <a class="nav-link" href="#" id="schedulerMenu" data-toggle="dropdown">
                    <i class="material-icons">schedule</i>
                    <p>计划任务</p>
                </a>
                <div class="dropdown-menu" aria-labelledby="schedulerMenu">
                    <a class="dropdown-item" href="/scheduler/index">计划任务</a>
                    <a class="dropdown-item" href="/scheduler/scheduler_log">计划任务日志</a>
                    <a class="dropdown-item" href="/scheduler/scheduler_log_upload_process">上传同步日志</a>
                    <a class="dropdown-item" href="/scheduler/scheduler_log_dump_process">下载同步日志</a>
                </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="otherDashboardMenu" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <p>服务dashboard</p>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="otherDashboardMenu">
                        <a class="dropdown-item" href="http://192.168.44.101:3000/">Monitor</a>
                        <a class="dropdown-item" href="http://192.168.44.101:9001/">Kafka UI</a>
                        <a class="dropdown-item" href="http://192.168.44.101:8080/etcdkeeper3/">Etcd UI</a>
                        <a class="dropdown-item" href="http://192.168.44.101:5658/">Celery UI</a>
                        <a class="dropdown-item" href="http://192.168.44.101:9008/">Dynamodb UI</a>
                        <a class="dropdown-item" href="http://192.168.44.101:18080/">Data sync Dashboard(Local)</a>
                        <a class="dropdown-item" href="http://192.168.44.102:18080/">Data sync Dashboard(Online)</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}