{% block sidebar %}
    <div class="sidebar" data-color="purple" data-background-color="white"
         data-image="{{ url_for("static", filename='assets/img/sidebar-1.jpg') }}">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="/" class="simple-text logo-normal">
                360-Manager Dashboard
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                {% if session['load'] == "index" %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
                </li>
                {% if session['load'] == "quality" %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/quality/index">
                    <i class="material-icons">edit</i>
                    <p>质量检测</p>
                </a>
                </li>
                {% if session['load'] == "scheduler"%}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                    <a class="nav-link" href="/scheduler/index">
                        <i class="material-icons">schedule</i>
                        <p>计划任务</p>
                    </a>
                </li>
                {% if session['load'] == "scheduler_f" %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/scheduler/scheduler_log">
                    <i class="material-icons">edit</i>
                    <p>计划任务日志</p>
                </a>
                </li>
                     {% if session['load'] == "scheduler_f_process" %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/scheduler/scheduler_log_process">
                    <i class="material-icons">edit</i>
                    <p>同步日志</p>
                </a>
                </li>
                            <li class="nav-item">
                    <a class="nav-link" href="http://192.168.44.101:9001/">
                        <i class="material-icons">notifications</i>
                        <p>kafka</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/user">
                        <i class="material-icons">person</i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/tables">
                        <i class="material-icons">content_paste</i>
                        <p>Table List</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/typography">
                        <i class="material-icons">library_books</i>
                        <p>Typography</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/notifications">
                        <i class="material-icons">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}